<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>

<body>

    <h1> Welcome to the text analyzer. Enter your text below</h1>
    <form action='/analyze' method='get'>
        <br>
        <br>

        <textarea name="text" style='margin:0px; width: 688px; height: 129px;'> </textarea>
        <input type="checkbox" name="removepunc">
        <input type="checkbox" name="removepunc">Remove punctuations <br>
        <input type="checkbox" name="removepunc">Remove punctuations <br>
        <input type="checkbox" name="fullcaps">Upper Case<br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="extraspaceremover ">Extra Space Remover<br>
        <input type="checkbox" name="charactercount">Count Number of Character<br>
        <button type='submit'> Analyze Text </button>
    </form>
</body>

</html>